script to replace the eids in the synthetic data files if the person ids in the file don't match the baseline ids

In [14]:
import pandas as pd

In [25]:
baseline = pd.read_csv('baseline.csv')
csv_to_change = 'gp_prescriptions.csv'
df_to_match = pd.read_csv(csv_to_change, dtype={'dmd_code' : 'str'})

In [34]:
base_ids = baseline['eid'].unique()
ids_len = len(base_ids)
ids_len

230

In [27]:
df_ids = df_to_match['eid'].unique()
len(df_ids)

100

In [28]:
df_ids = df_ids[:ids_len]

In [29]:
df = df_to_match[df_to_match['eid'].isin(df_ids)]
df.head()

,eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity
0,9787890,3,23/07/2012,NaN,NaN,321745007,PRIMOLUT N TABLETS 5MG,56 tablet(s)
1,4356390,3,24/05/2016,NaN,02.12.04.00.00,NaN,CITALOPRAM tabs 20mg,30 tablets
2,8018365,3,04/09/2013,NaN,06.02.01.00.00,NaN,Citalopram 20mg tablets,80 grams
3,5216158,4,15/05/2015,NaN,04.03.04.00.00,NaN,Bendroflumethiazide 2.5mg tablets,56.000
4,5384852,1,17/09/2007,ff2c.00,NaN,NaN,Aspirin 75mg tablets,100

In [32]:
map_ids = dict(zip(df_ids, base_ids))
df_new = df.replace(map_ids)
len(df_new.index)

676

In [21]:
df_new.to_csv(csv_to_change, index=False)