script to replace the eids in the synthetic data files if the person ids in the file don't match the baseline ids

In [1]:
import pandas as pd

In [16]:
baseline = pd.read_csv('baseline.csv')
csv_to_change = 'gp_prescriptions.csv'
df_to_match = pd.read_csv(csv_to_change)

c:\users\annev\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1638,1642,1643,1646,1647,1672,1724,1725) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
base_ids = baseline['eid'].unique()
ids_len = len(base_ids)

In [18]:
df_ids = df_to_match['eid'].unique()
len(df_ids)

309

In [19]:
df_ids = df_ids[:ids_len]

In [20]:
df = df_to_match[df_to_match['eid'].isin(df_ids)]
df.head()

,eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity
0,1005964,3,28/10/2013,blb2.,NaN,NaN,SIMVASTATIN tabs 40mg,240 capsules
1,1001374,3,11/11/2014,f923.00,10.01.01.00.00,323342002.0,Olanzapine 10mg tablets,30 tablet
2,1007145,3,21/11/2011,NaN,NaN,326874007.0,Sulfasalazine 500mg gastro-resistant tablets,NaN
3,1003355,3,31/05/2016,NaN,NaN,NaN,Chloramphenicol 1% eye ointment,56 tabl - 75 mg
4,1000223,1,29/10/2007,NaN,13.02.01.02.00,NaN,Montelukast 10mg tablets,28 tablet - 50 mg

In [21]:
map_ids = dict(zip(df_ids, base_ids))
df_new = df.replace(map_ids)

In [22]:
df_new.to_csv(csv_to_change, index=False)