script to replace the eids in the synthetic data files if the person ids in the file don't match the baseline ids

In [1]:
import pandas as pd

In [16]:
baseline = pd.read_csv('baseline.csv')
csv_to_change = 'hesin_oper.csv'
df_to_match = pd.read_csv(csv_to_change)

c:\users\annev\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1638,1642,1643,1646,1647,1672,1724,1725) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
base_ids = baseline['eid'].unique()
ids_len = len(base_ids)

In [18]:
df_ids = df_to_match['eid'].unique()
len(df_ids)

100

In [19]:
df_ids = df_ids[:ids_len]

In [20]:
df = df_to_match[df_to_match['eid'].isin(df_ids)]
df.head()

,eid,ins_index,arr_index,level,opdate,oper3,oper3_nb,oper4,oper4_nb,posopdur,preopdur
0,9787890,10,0,2,23/03/2012,NaN,NaN,Y508,NaN,NaN,NaN
1,4356390,1,1,2,NaN,NaN,NaN,C822,NaN,NaN,0.0
2,8018365,13,0,2,12/06/2019,NaN,NaN,X998,NaN,0.0,NaN
3,5216158,3,0,1,19/12/2018,NaN,NaN,O142,NaN,0.0,0.0
4,5384852,1,1,1,NaN,NaN,NaN,Z943,NaN,NaN,NaN

In [21]:
map_ids = dict(zip(df_ids, base_ids))
df_new = df.replace(map_ids)

In [22]:
df_new.to_csv(csv_to_change, index=False)